flownode_red.json
[
    {
        "id": "399071887bd97a2a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "478234dfe6aa22d7",
        "type": "mqtt in",
        "z": "399071887bd97a2a",
        "name": "",
        "topic": "tp/dht11",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "59b895bcc8482cc9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 420,
        "wires": [
            [
                "a1bb5870a76966a2",
                "00a98541c8e44a48"
            ]
        ]
    },
    {
        "id": "a1bb5870a76966a2",
        "type": "debug",
        "z": "399071887bd97a2a",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 480,
        "wires": []
    },
    {
        "id": "00a98541c8e44a48",
        "type": "function",
        "z": "399071887bd97a2a",
        "name": "separe Temp Hum",
        "func": "// Separer la temperature et l'humidity\nlet data = msg.payload.split(',');\nlet msg_temp = { payload: parseFloat(data[0]) };\nlet msg_hum = { payload: parseFloat(data[1]) };\nreturn [msg_temp, msg_hum];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 360,
        "wires": [
            [
                "bef11d1ff6e82e49",
                "a00aad4eda767c24"
            ],
            [
                "9ff5b14ccd747b58",
                "989567959f0d16d3"
            ]
        ]
    },
    {
        "id": "c30d0f74f4a3412a",
        "type": "mqtt in",
        "z": "399071887bd97a2a",
        "name": "",
        "topic": "tp/ldr",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "59b895bcc8482cc9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 830,
        "y": 240,
        "wires": [
            [
                "10db1f184ecea592",
                "dafe7758c713f630"
            ]
        ]
    },
    {
        "id": "10db1f184ecea592",
        "type": "debug",
        "z": "399071887bd97a2a",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 300,
        "wires": []
    },
    {
        "id": "dafe7758c713f630",
        "type": "function",
        "z": "399071887bd97a2a",
        "name": "affiche luminosite",
        "func": "let luminosite = { payload: parseFloat(msg.payload) };\nreturn luminosite;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 180,
        "wires": [
            [
                "ae13b21571ce233d",
                "52a2e34967ee7a0d"
            ]
        ]
    },
    {
        "id": "ae13b21571ce233d",
        "type": "ui_gauge",
        "z": "399071887bd97a2a",
        "name": "",
        "group": "2181937630b67133",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "luminosite",
        "label": "-",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1320,
        "y": 120,
        "wires": []
    },
    {
        "id": "52a2e34967ee7a0d",
        "type": "ui_chart",
        "z": "399071887bd97a2a",
        "name": "",
        "group": "2181937630b67133",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "luminosite",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "4095",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1340,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "959e1f2e6d064558",
        "type": "mqtt in",
        "z": "399071887bd97a2a",
        "name": "",
        "topic": "tp/distance",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "59b895bcc8482cc9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 880,
        "y": 500,
        "wires": [
            [
                "68c7bef9c793d098",
                "07e4fe26769795c9"
            ]
        ]
    },
    {
        "id": "68c7bef9c793d098",
        "type": "debug",
        "z": "399071887bd97a2a",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 560,
        "wires": []
    },
    {
        "id": "07e4fe26769795c9",
        "type": "function",
        "z": "399071887bd97a2a",
        "name": "affiche distance",
        "func": "let distance = parseFloat(msg.payload); \nreturn { payload: distance };",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 440,
        "wires": [
            [
                "0c2ff5e15a323b40",
                "2fec5d740bade850"
            ]
        ]
    },
    {
        "id": "0c2ff5e15a323b40",
        "type": "ui_gauge",
        "z": "399071887bd97a2a",
        "name": "",
        "group": "21d38a18763e26ac",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "distance",
        "label": "cm",
        "format": "{{value}}",
        "min": 0,
        "max": "4000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1360,
        "y": 380,
        "wires": []
    },
    {
        "id": "2fec5d740bade850",
        "type": "ui_chart",
        "z": "399071887bd97a2a",
        "name": "",
        "group": "21d38a18763e26ac",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "distance",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "4000",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1360,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "98d63e25019f557a",
        "type": "ui_slider",
        "z": "399071887bd97a2a",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "a71744948e37021e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "payload",
        "topicType": "msg",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "980d9445605ac428"
            ]
        ]
    },
    {
        "id": "980d9445605ac428",
        "type": "mqtt out",
        "z": "399071887bd97a2a",
        "name": "",
        "topic": "tp/servo",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "59b895bcc8482cc9",
        "x": 400,
        "y": 220,
        "wires": []
    },
    {
        "id": "ade8367679f15efc",
        "type": "ui_switch",
        "z": "399071887bd97a2a",
        "name": "",
        "label": "interrupteur_Lampe",
        "tooltip": "",
        "group": "2676a464c9d687d6",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "payload",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 120,
        "wires": [
            [
                "7b93bf767c035652"
            ]
        ]
    },
    {
        "id": "7b93bf767c035652",
        "type": "mqtt out",
        "z": "399071887bd97a2a",
        "name": "",
        "topic": "tp/led",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "59b895bcc8482cc9",
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "bef11d1ff6e82e49",
        "type": "ui_gauge",
        "z": "399071887bd97a2a",
        "name": "",
        "group": "daa65e8845367726",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "a00aad4eda767c24",
        "type": "ui_chart",
        "z": "399071887bd97a2a",
        "name": "",
        "group": "daa65e8845367726",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "9ff5b14ccd747b58",
        "type": "ui_chart",
        "z": "399071887bd97a2a",
        "name": "",
        "group": "de72ccf5219f4a02",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidite",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 660,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "989567959f0d16d3",
        "type": "ui_gauge",
        "z": "399071887bd97a2a",
        "name": "",
        "group": "2181937630b67133",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidite",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "59b895bcc8482cc9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2181937630b67133",
        "type": "ui_group",
        "name": "Luminosite",
        "tab": "7a15a9e97b3b7c95",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "21d38a18763e26ac",
        "type": "ui_group",
        "name": "HC-SR04",
        "tab": "cd56dd565992ebd0",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a71744948e37021e",
        "type": "ui_group",
        "name": "servo",
        "tab": "32a05b6aa91c8e6d",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2676a464c9d687d6",
        "type": "ui_group",
        "name": "lampe",
        "tab": "32a05b6aa91c8e6d",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "daa65e8845367726",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "5a192681f8e335af",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "de72ccf5219f4a02",
        "type": "ui_group",
        "name": "Humidite",
        "tab": "5a192681f8e335af",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a15a9e97b3b7c95",
        "type": "ui_tab",
        "name": "Capteur LDR",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cd56dd565992ebd0",
        "type": "ui_tab",
        "name": "HC-SR04",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "32a05b6aa91c8e6d",
        "type": "ui_tab",
        "name": "Actionneurs",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5a192681f8e335af",
        "type": "ui_tab",
        "name": "Capteur DHT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9140ec7cb748cbf8",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]